  
  <title>@drinks[0].class.name List</title>
  <font_dir path=<%="'#{p}'"%> />
  <textr_dir path=<%="'#{p}'"%> />
  <img_dir path=<%="'#{p}'"%> />
  <text_width val="0" />
  <text_scale val="2.667000" scale0="1.333333" max_sz="36.010000" />

  <% ["","_A0"].each do |a| %> 
    <%= raw "<font_swf source='#{font+a}.swf'/>\n" %>
  <% end %>     
    
  <htmlText><![CDATA[
  <font face=<%="'#{font.gsub("_"," ")}'"%>><font size=<%="#{36*x}".dq%>>The <%= @drinks[0].class.name %> List<br><br>
  <% initial = "" %>
  <% @drinks.each do |drink| %>
    <% if initial != drink.name.first %>
      <% initial = drink.name.first %>
      <font size=<%="#{30*x}".dq%>><%= initial %></font><br>
    <% end %>
    <textformat  leftmargin="50">
    <font size=<%="#{20*x}".dq%> color="#8b008b"><li>
    <a href=<%="#{path(drink)}#{@theme}.xml".dq%>><%=drink.name%></a></li>
    </font></textformat>
  <% end %>]]>
  </htmlText>
