
<title><%=@drink.name%></title>  
  
<font_dir path=<%="'#{p}'"%> />  
<textr_dir path=<%="'#{p}'"%> />  
<img_dir path=<%="'#{p}'"%> />  
  
<img n="1" source="img_2f4188dfb8.jpg" width="439" height="600" offset="29" blendMode="ALPHA" wyswyg="true" />  
<img n="1" source=<%="'#{pi}#{@drink.picture.picture}'"%> width="439" height="600" offset="29" border_pct="11" blendMode="NORMAL" type="APP" e_wyswyg="true" />  
  
<text_width val="0" />  

<text_scale val="6.667000" scale0="1.333333" max_sz="561.650686" />  
  
<% ["","_I"].each do |i| %>       
  <% ["","_A0"].each do |a| %>   
    <%= raw "<font_swf source='#{font+i+a}.swf'/>\n" %>  
<% end %> <% end %>       

<a href=<%="'#{path @drink}#{theme_next @theme}.xml'"%> wr_n="0">Theme</a>  
<a href=<%="'#{path @drink, "all"}#{@theme}.xml'"%> wr_n="1">List of All <%=@drink.class.name%>s Available</a>  
<a href=<%="'#{path (@drink.prev "slug")}#{@theme}.xml'"%> wr_n="2">Prev</a>  
<a href=<%="'#{path (@drink.next "slug")}#{@theme}.xml'"%> wr_n="3">Next</a>  
<a href=<%="'#{path opp(@drink), "default"}#{@theme}.xml'"%> wr_n="4"><%=opp(@drink).class.name%></a>  

<htmlText><![CDATA[<p align="center"><font face=<%="'#{font.gsub("_"," ")}'"%>><font size=<%="'#{15*x}'" %>><br><font size=<%="'#{36*x}'" %>>You've <font color="#8b008b">just<font color="#000000"> been offered...<br><font face="imgfont0"><font size="561.640686">&#x57;</font></font><br><font size=<%="'#{20*x}'" %>>A Beer over IP<font size=<%="'#{24*x}'" %>><br><p align="left"><font color="#8b008b"><font size=<%="'#{20*x}'" %>>more<font color="#000000"> precisely: <i><%=@drink.name%></i><font size=<%="'#{24*x}'" %>><i><br></i><p align="right"><font color="#8b008b"><font size=<%="'#{15*x}'" %>>Credits:<font color="#000000"> <%=@drink.picture.credits%><br><p align="center"><br><font color="#8b008b">Theme<font color="#000000"> | <font color="#8b008b">List of All <%=@drink.class.name%>s Available<font color="#000000"> | <font color="#8b008b">Prev<font color="#000000"> | <font color="#8b008b">Next<font color="#000000"> | <font color="#8b008b"><%=opp(@drink).class.name%><font color="#000000"><br><br><font color="#000000"><font face="Arial"><font size="10">]]></htmlText>  
